article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:"";content:none}table{border-collapse:collapse;border-spacing:0}*{-webkit-box-sizing:border-box;box-sizing:border-box}#__next,body,html{margin:0;padding:0;text-rendering:optimizeLegibility;-webkit-font-smoothing:antialiased;font-family:Inter,sans-serif;height:100%;width:100%;scroll-behavior:smooth}body{background-color:#000;color:#fff}button,input{font-family:Inter,sans-serif}:root{--fsize4:0.222rem;--fsize5:0.278rem;--fsize6:0.333rem;--fsize7:0.389rem;--fsize8:0.444rem;--fsize10:0.556rem;--fsize11:0.611rem;--fsize12:0.667rem;--fsize14:0.778rem;--fsize15:0.833rem;--fsize16:0.889rem;--fsize17:0.944rem;--fsize18:1rem;--fsize20:1.111rem;--fsize21:1.167rem;--fsize22:1.222rem;--fsize24:1.333rem;--fsize26:1.222rem;--fsize27:1.5rem;--fsize28:1.555rem;--fsize30:1.667rem;--fsize32:1.778rem;--fsize38:2.111rem;--fsize40:2.222rem;--fsize44:2.444rem;--fsize48:2.666rem;--fsize50:2.778rem;--fsize54:3rem;--fsize56:3.111rem;--fsize60:3.333rem;--fsize62:3.444rem;--fsize64:3.555rem;--fsize80:4.444rem;--fsize100:5.556rem;--fsize110:6.111rem;--fsize120:6.666rem;--fsize176:9.778rem;--fsize190:10.556rem;--fsize240:13.333rem;--fsize280:15.556rem;--fsize360:20rem;--fsize400:22.222rem;--fsize514:32.125rem;--fsize548:30.444rem;--fsize612:34rem;--fsize655:36.389rem;--max-width:1440px;--grey10:#fafafa;--grey50:#a6adba;--grey65:#8d97a3;--grey60:#8d97a3;--grey70:#3b4756;--grey80:#252f3b;--grey90:#1d2631;--grey100:#0f1723;--blue30:#a9c2ff;--blue40:#80a4ff;--blue50:#477bff;--blue70:#0645e5;--blue80:#0038c8;--blue90:#0025a3;--blue100:#001b77;--header-z-index:10;--header-height:var(--fsize80);--mobile-menu-z-index:9;--grey60-rgb:141,151,163;--weight-bold:"wght" 600;--weight-normal:"wght" 400;--mobile-sm-max:350px;--mobile-md-min:351px;--mobile-md-max:400px;--mobile-lg-min:401px;--mobile-lg-max:600px;--tablet-min:601px;--tablet-max:920px;--desktop-sm-min:921px;--desktop-sm-max:1100px;--desktop-md-min:1101px;--desktop-md-max:1250px;--desktop-lg-min:1251px}
@media screen and (max-width:1250px){
    #__next .PageFooter_footerWrapper__yicTz a{
        font-size:16px;
    }
}

@media screen and (max-width:1100px){
    #__next .PageFooter_footerWrapper__yicTz a{
        font-size:14px
    }
}

@media screen and (max-width:920px){
    #__next .PageFooter_footerWrapper__yicTz a{
    font-size:18px;
    }
}

@media screen and (min-width:921px){
    .desktopHidden{
        display:none
    }
}

@media screen and (max-width:920px) and (min-width:601px){
    .tabletHidden{
        display:none
    }
}

@media screen and (max-width:600px){
    .mobileHidden{display:none
    }
}
@media screen and (max-width:400px){
    #__next .PageFooter_footerWrapper__yicTz a{
        font-size:16px
    }
}

@media screen and (max-width:350px){
    #__next .PageFooter_footerWrapper__yicTz a{
        font-size:14px
    }
}
@font-face{
    font-family:Inter;src:local("Inter"),url(/_next/static/media/Inter-VariableFont_wdth.43804851.ttf) format("truetype");
    font-display:swap;
}